<h1>Welcome</h1>
<p>
  It's <%= Time.now %>.
  We have <%= pluralize(@total_orders, "order") %>. 
</p>
<%= button_to "Logout", logout_path, method: :delete, data: { confirm: 'Are you sure? you want to log out?' } %>